<script type="text/javascript">
window.appData = window.appData || {};
window.appData.translations = {};

window.appData.translations["Home"] = "{{_('Home')}}";
window.appData.translations["Preview"] = "{{_('Preview')}}";
window.appData.translations["Save"] = "{{_('Save')}}";
window.appData.translations["at least 1 tag, maxium 5 tags"] = "{{_('at least 1 tag, maxium 5 tags')}}";
window.appData.translations["Network Error"] = "{{_('Network Error')}}";
window.appData.translations["Load More"] = "{{_('Load More')}}";
</script>