<script type="text/template" id="article-edit-template">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group js-title" style="width: 100%;">
      
    </div>
  </div>
  <div class="panel-body">
    <div class="js-content"></div>
    <div class="form-control js-tags"></div>
  </div>
</div>
</script>

<script type="text/template" id="article-edit-modal-template">
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ _('Edit article') }}</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{ _('Close') }}</button>
        <button type="button" class="btn btn-primary btn-sm js-save">{{ _('Save') }}</button>
      </div>
    </div>
  </div>
</div>
</script>