<div class="row">
<!--   <div class="col-sm-4">
    <a href="" class="btn btn-primary btn-facebook">
      <i class="icon-facebook"></i>Facebook
    </a>
  </div> -->

  <div class="col-sm-4 col-sm-offset-2">
    <a href="{{ url_for('social_auth.auth_google', next=request.args.get('next')) }}" class="btn btn-primary btn-google">
      <i class="icon-google-plus"></i>Google
    </a>
  </div>

  <div class="col-sm-4">
    <a href="{{ url_for('social_auth.auth_github', next=request.args.get('next')) }}" class="btn btn-primary btn-github">
      <i class="icon-github"></i>Github
    </a>
  </div>

</div>