<!-- Credit: http://www.chris.com -->
<pre style="background-color: transparent; border: none; padding: 0px;">
<% if (random == 0) { %>
          ____,'`-, 
      _,--'   ,/::.; 
   ,-'       ,/::,' `---.___        ___,_ 
   |       ,:';:/        ;'"`;"`--./ ,-^.;--. 
   |:     ,:';,'         '         `.   ;`   `-. 
    \:.,:::/;/ -:.                   `  | `     `-. 
     \:::,'//__.;  ,;  ,  ,  :.`-.   :. |  ;       :. 
      \,',';/O)^. :'  ;  :   '__` `  :::`.       .:' ) 
      |,'  |\__,: ;      ;  '/O)`.   :::`;       ' ,' 
           |`--''            \__,' , ::::(       ,' 
           `    ,            `--' ,: :::,'\   ,-' 
            | ,;         ,    ,::'  ,:::   |,' 
            |,:        .(          ,:::|   ` 
            ::'_   _   ::         ,::/:| 
           ,',' `-' \   `.      ,:::/,:| 
          | : _  _   |   '     ,::,' ::: 
          | \ O`'O  ,',   ,    :,'   ;:: 
           \ `-'`--',:' ,' , ,,'      :: 
            ``:.:.__   ',-','        ::' 
    -hrr-      `--.__, ,::.         ::' 
                   |:  ::::.       ::' 
                   |:  ::::::    ,::' 
<% } else if (random == 1) { %>
                                      _.--"""--,
                                    .'          `\
  .-""""""-.                      .'              |
 /          '.                   /            .-._/
|             `.                |             |
 \              \          .-._ |          _   \
  `""'-.         \_.-.     \   `          ( \__/
        |             )     '=.       .,   \  
       /             (         \     /  \  /
     /`               `\        |   /    `'
     '..-`\        _.-. `\ _.__/   .=.
          |  _    / \  '.-`    `-.'  /
          \_/ |  |   './ _     _  \.'
               '-'    | /       \ |  
                      |  .-. .-.  |
                      \ / o| |o \ /
                       |   / \   |
                      / `"`   `"` \
                     /             \
                    | '._.'         \
                    |  /             |
                     \ |             |
                      ||    _    _   /
                      /|\  (_\  /_) /
              jgs     \ \'._  ` '_.'
                       `""` `"""` 
<% } else if (random == 2) { %>
                 _____________________
                 |###################|          
                 |###################|          
                 |###################|          
                 |###################|          
     ((-----------------------------------------
     | \         /  /@@ \      /@@ \  \
      \ \,      /  (     )    (     )  \            _____
       \ \      |   \___/      \___/   |           /  __ \
        \ ""*-__/                      \           | |  | |
         ""*-_                         "-_         | |  """
              \    -.  _________   .-   __"-.__.-((  ))
               \,    \^    U    ^/     /  "-___--((  ))
                 \,   \         /    /'            | |
                  |    \       /   /'              | |
                  |     "-----"    \               | |
                 /                  "*-._          | |
                /   /\          /*-._    \         | |
               /   /  "\______/"     /   /         | |
              /   /                 /   /          | |
             /. ./                  |. .|          """
            /  | |                  / | \
           /   |  \                /  |  \   
          /.-./.-.|               /.-.|.-.\
<% } else { %>
                 _
             ,.-" "-.,
            /   ===   \
           /  =======  \
        __|  (o)   (0)  |__      
       / _|    .---.    |_ \         
      | /.----/ O O \----.\ |       
       \/     |     |     \/        
       |                   |            
       |                   |           
       |                   |          
       _\   -.,_____,.-   /_         
   ,.-"  "-.,_________,.-"  "-.,
  /          |       |          \  
 |           l.     .l           | 
 |            |     |            |
 l.           |     |           .l             
  |           l.   .l           | \,     
  l.           |   |           .l   \,    
   |           |   |           |      \,  
   l.          |   |          .l        |
    |          |   |          |         |
    |          |---|          |         |
    |          |   |          |         |
    /"-.,__,.-"\   /"-.,__,.-"\"-.,_,.-"\
   |            \ /            |         |
   |             |             |         |
    \__|__|__|__/ \__|__|__|__/ \_|__|__/ Sandra
<% } %>
</pre>