<div class="js-editor-control">
  <div class="btn-group">
    <button type="button" data-mode="markdown" class="btn btn-default btn-xs active">Markdown</button>
    <button type="button" data-mode="preview" class="btn btn-default btn-xs"><%= _.t("Preview") %></button>

    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
        Theme
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="js-change-theme" data-theme="blackboard" href="#">blackboard</a></li>
        <li><a class="js-change-theme" data-theme="eclipse" href="#">eclipse</a></li>
        <li><a class="js-change-theme" data-theme="the-matrix" href="#">matrix</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="js-editor">

</div>
<div class="js-editor-preview">

</div>